:root {
  --logo-first-color: #2196f3;
  --logo-second-color-dark: #000000;
  --logo-second-color-light: #ffffff;
  --main-text-color: #212121;
  --sekond-text-color: #757575;
  --main-text-light-color: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --hover-focus-color: #2196f3;
  --border-color: #ececec;
  --hero-background-color: #2f303a;
  --hover-second-color: #188ce8;
  --background-color: #f5f4fa;
  --work-background: rgba(47, 48, 58, 0.8);
  --team-background-color: #f5f4fa;
  --team-item-background-color: #ffffff;
  --icom-fiil: #afb1b8;
  --footer-background-color: #2f303a;
  --footer-social: rgba(255, 255, 255, 0.1);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --modal-background-color: #ffffff;
  --modal-form-message: rgba(117, 117, 117, 0.5);
  --project-wrap-color: rgba(33, 150, 243, 0.9);
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-background-color);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .section-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 480px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.mobile-menu__btn-open,
.mobile-menu__btn-close {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .mobile-menu__btn-open,
  .mobile-menu__btn-close {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn-open,
  .mobile-menu__btn-close {
    display: none;
  }
}

.mobile-menu__btn-close {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (max-width: 480px) {
  .mobile-menu__btn-close {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn-close {
    display: none;
  }
}

.mobile-menu__btn-icon,
.mobile-menu__btn-close-icon {
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__btn-icon:hover, .mobile-menu__btn-icon:focus,
.mobile-menu__btn-close-icon:hover,
.mobile-menu__btn-close-icon:focus {
  fill: var(--hover-focus-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  overflow-y: scroll;
}

.mobile-menu__nav_item {
  display: flex;
}

.mobile-menu__nav_item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--hover-focus-color);
}

.mobile-menu__contacts_list {
  margin-bottom: 64px;
}

.mobile-menu__contacts_list_item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts_list-tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--hover-focus-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu__contacts_list-tel {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.mobile-menu__contacts_list-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--sekond-text-color);
}

.mobile-menu__social_list {
  display: flex;
}

@media screen and (max-width: 479px) {
  .mobile-menu__social_list {
    flex-wrap: wrap;
  }
}

.mobile-menu__social_item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

@media screen and (max-width: 479px) {
  .mobile-menu__social_item {
    margin-bottom: 10px;
  }
}

.mobile-menu__social_link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--hover-focus-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.modal-form__field {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--sekond-text-color);
  margin-bottom: 10px;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--hover-focus-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--hover-focus-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-form-message);
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--hover-focus-color);
}

.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sekond-text-color);
}

@media screen and (max-width: 479px) {
  .modal-form__checkbox-label {
    flex-wrap: wrap;
    font-size: 10px;
    font-weight: 300;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 480px) {
  .modal-form__checkbox-label {
    flex-wrap: wrap;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
}

.modal-check__icon {
  border: 1px solid #303030;
  cursor: pointer;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked + .modal-check__icon {
  background-color: var(--hover-focus-color);
  border: none;
}

.modal-form__checkbox:focus + .modal-check__icon {
  border-color: var(--hover-focus-color);
}

.modal__link {
  color: var(--hover-focus-color);
  display: inline-block;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}

@media screen and (max-width: 479px) {
  .modal__link {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 480px) {
  .modal__link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-form__button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: 700px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-text-light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__button:hover, .modal-form__button:focus {
  background-color: var(--hover-second-color);
}

.modal {
  position: absolute;
  padding: 40px;
  background-color: var(--modal-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 200;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .modal {
    max-width: 95vw;
    max-height: 95vh;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: var(--hover-focus-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.25);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo .web {
  color: var(--logo-first-color);
}

.footer-logo .studio {
  color: #ffffff;
}

@media screen and (max-width: 479px) {
  .footer-contacts_list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .footer-contacts_list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts_list {
    width: 231px;
    height: 81px;
    margin-bottom: 0;
  }
}

.address-link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--main-text-light-color);
  margin-bottom: 9px;
}

.address-link:hover, .address-link:focus {
  color: var(--hover-focus-color);
}

.footer-mail,
.footer-tel {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover, .footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--hover-focus-color);
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-light-color);
}

@media screen and (min-width: 480px) {
  .footer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    width: 206px;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  fill: 10%;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--footer-social);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--hover-focus-color);
  fill: var(--hover-focus-color);
}

.footer-social__link:not(:last-child) {
  margin-right: 10px;
}

.footer-social__icon {
  fill: var(--main-text-light-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__subscribe-input {
  padding: 15px 0 15px 16px;
  width: 100%;
  height: 50px;
  color: var(--main-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 0);
}

@media screen and (max-width: 479px) {
  .footer__subscribe-input {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 480px) {
  .footer__subscribe-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  background: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-text-light-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover {
  background-color: var(--hover-second-color);
}

@media screen and (min-width: 786px) {
  .subscribe-btn {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.subscribe-btn-icon {
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
  .subscribe-btn-icon {
    display: inline-block;
    vertical-align: middle;
  }
}

header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  width: 100%;
}

.header-container {
  display: flex;
}

.menu {
  display: flex;
}

@media screen and (max-width: 479px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

.logo__header {
  color: var(--logo-second-color-dark);
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 88px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__header {
    margin-right: 93px;
  }
}

.logo--blu {
  color: var(--logo-first-color);
}

.menu__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .menu__link {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.menu__link:hover, .menu__link:focus {
  color: var(--hover-focus-color);
}

.current {
  color: var(--hover-focus-color);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .mail {
    margin-bottom: 10px;
  }
}

.menu__item,
.header-contacts__item {
  position: relative;
}

.current::after {
  content: "";
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-focus-color);
}

@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
  }
}

.header-contacts__link {
  color: var(--sekond-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:focus, .header-contacts__link:hover {
  color: var(--hover-focus-color);
}

@media screen and (min-width: 768px) {
  .header-contacts__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-contacts__icon {
    display: inline-block;
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__bg {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__bg {
    background-image: url("../images/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__bg {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__bg {
    background-image: url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__bg {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__bg {
    background-image: url("../images/hero/hero-desktop@2x.jpg");
  }
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text-light-color);
}

@media screen and (max-width: 479px) {
  .hero__title {
    margin: 0 auto 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.32;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 480px) {
  .hero__title {
    margin: 0 auto 30px;
    width: 360px;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  display: block;
  color: var(--main-text-light-color);
  background-color: var(--hover-focus-color);
  cursor: pointer;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .hero__button:hover {
  background-color: var(--hover-second-color);
}

.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 36px;
  }
}

.advantage__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.advantage-container-icon {
  width: 100%;
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.advantage__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advantage__title {
    text-align: center;
  }
}

.advantage__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sekond-text-color);
  margin-bottom: 30px;
}

.work-section__hidden {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work-section__hidden {
    display: block;
  }
}

.work {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .work {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work-section {
  padding-top: 0;
}

.work__list {
  display: flex;
  margin-left: -30px;
}

.work__list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.work__item__wrap {
  position: relative;
}

.work__item-text {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--primary-title-color);
  position: absolute;
  bottom: 0px;
}

.team {
  background-color: var(--team-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  background-color: var(--team-item-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--sekond-text-color);
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social__item {
  width: 44px;
  height: 44px;
  display: flex;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--hover-focus-color);
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: var(--main-text-light-color);
}

.team-social__icon {
  fill: var(--icom-fiil);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  align-items: center;
  justify-content: center;
}

.clients__item {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--hover-focus-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--hover-focus-color);
}

.clients__icon {
  fill: var(--icom-fiil);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .footer__container-tablet {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container-tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container-tablet {
    margin-bottom: 0;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filters__list:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  background: var(--background-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  background-color: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--main-text-light-color);
}

@media screen and (min-width: 280px) {
  .filters__button {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

.projects__title {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--project-wrap-color);
  color: var(--main-text-light-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__list {
  flex-basis: calc(100% / 2 - 30px);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects__list {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__list {
    flex-basis: calc(100% / 3 - 30px);
    margin-bottom: 30px;
  }
}

.projects-description {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.projects__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--sekond-text-color);
}

.projects__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .projects__title,
.projects__link:focus .projects__title {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */