:root {
  --logo-first-color: #2196f3;
  --logo-second-color-dark: #000000;
  --logo-second-color-light: #ffffff;
  --main-text-color: #212121;
  --sekond-text-color: #757575;
  --main-text-light-color: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --hover-focus-color: #2196f3;
  --border-color: #ececec;
  --hero-background-color: #2f303a;
  --hover-second-color: #188ce8;
  --background-color: #f5f4fa;
  --work-background: rgba(47, 48, 58, 0.8);
  --team-background-color: #f5f4fa;
  --team-item-background-color: #ffffff;
  --icom-fiil: #afb1b8;
  --footer-background-color: #2f303a;
  --footer-social: rgba(255, 255, 255, 0.1);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --modal-background-color: #ffffff;
  --modal-form-message: rgba(117, 117, 117, 0.5);
  --project-wrap-color: rgba(33, 150, 243, 0.9);
}
