/*.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer__container {
  /* @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__container-tablet {
  @media screen and (max-width: 479px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
*/
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 768px) and (max-width: 1199) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer-adress {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.logo__footer {
  display: block;
  color: var(--logo-second-color-light);
  margin-bottom: 20px;
}
.footer-adress__list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress__map,
.footer-adress__menu {
  font-style: normal;
  @include font(14px, 400, 1.71, 0.03em);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress__map {
  color: var(--main-text-light-color);
}
.footer-adress__menu {
  color: var(--footer-adress-color);
}

.footer-social__title,
.footer-subscribe__title {
  @include font(14px, 700, 1.14, 0.03em);

  text-transform: uppercase;
  color: var(--main-text-light-color);
  margin-bottom: 20px;
}

.footer-social__item {
  display: flex;
  justify-content: center;
}
.footer-social__list {
  width: 44px;
  height: 44px;
}
.footer-social__list:not(:last-child) {
  margin-right: 10px;
}
.footer-social__link {
  width: 100%;
  height: 100%;
  background-color: var(--footer-social);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__icon {
  fill: var(--main-text-light-color);
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--hover-focus-color);
}
.footer-adress__menu:hover,
.footer-adress__menu:focus,
.footer-adress__map:focus,
.footer-adress__map:hover {
  color: var(--hover-focus-color);
}
.footer-subscribe {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.footer-form__input {
  height: 50px;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  @include font(16px, 400, 1.25, 0.03em);

  color: var(--footer-adress-color);
  padding-left: 16px;
  @media screen and (min-width: 320px) {
    width: 300px;
  }

  @media screen and (min-width: 420px) {
    width: 358px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}
.footer-form {
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-form__button {
  width: 200px;
  height: 50px;
  background-color: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  @include font(16px, 700, 1.87, 0.06em);

  color: var(--main-text-light-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.footer-form__button:focus,
.footer-form__button:hover {
  background-color: var(--hover-second-color);
}
